/* Main */
body {
  background: url('./images/morgana-background.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: scale(1, 1);
  transition: background-image 0.2s ease-in-out;
  overflow: hidden;
  font-family: Baloo Chettan, cursive;
}
